body {
  color: #797979;
  background: #ffffff;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #092a49;
  font-family: "Oswald", sans-serif;
}

a {
  color: #454545;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #092a49;
  outline: none;
  text-decoration: none;
}
